* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:url("./pattern.png");
}
.main{
    background-color:   rgb(250, 235, 151);
    width: 400px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}
.badge{
    background-color: rgb(250, 189, 189) ;
    width: 96px;
    color: white;
    padding: 5px 10px;
    font-family: fantasy;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 40%;
}
.clock{
    background-color: white;
    color: pink;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 6px;
}